@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg{
    background-color: burlywood;
    background-size: cover;
    height: 100vh;
}
.main-heading{
    font-family: "Roboto";
    color:steelblue;
}
.input-styles{
    border-radius: 10px;
    border-style: solid;
    border-color:thistle;
    border-width: 1px;
}
.msg-bg{
    padding: 8px;
    font-family: "Roboto";
    color: rgb(34, 31, 31);
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    background-color: thistle;
}